/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== groupbox.css ==================================================
  == Styles used by the XUL groupbox and related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: groupbox ::::: */

groupbox {
  -moz-appearance: groupbox;
  border: 2px groove ThreeDFace;
  border-radius: 3px;
  padding: 3px 3px 6px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  background-color: -moz-Dialog;
}

tabpanels caption {
  -moz-appearance: tabpanel;
}

/* !important is needed to override label in global.css */
.caption-text {
  margin: 0 2px !important;
}

@media (-moz-pref("widget.native-controls.old-layout-tweaks")) {
  /* omega: in new firefox, groupbox margin is from the top of groupbox-body and
  not groupbox-title, so we increase the top margin to compensate */
  /* this is not the best fix since it breaks with font size changes */
  groupbox {
    margin: 11px 3px 3px 3px;
  }
  
  /* omega: caption margin is measured from the end of the curve with 
  flexbox instead of the start like with moz-box, so decrease the
  margin to fit */
  caption {
	margin: 0 1px; 
  }

  /* omega: restore proper spacing inside groupboxes */
  .groupbox-body {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -9px;
  }
  caption {
	margin: 0 1px; 
  }
}

@media not (-moz-pref("widget.native-controls.old-layout-tweaks")) {
  groupbox {
    margin: 3px;
  }
  caption {
	margin: 0 6px; 
  }
}
