/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menulist-shared.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

label:not([native]) {
  margin: 0;
}

:host([native]) {
  appearance: auto;
  -moz-default-appearance: menulist;
  margin: 2px 4px;
  color: FieldText;
  text-shadow: none;
}

:host([native][disabled="true"]) {
  background-color: -moz-Dialog;
  color: GrayText;
}

/* Label box */

#label-box[native] {
  align-items: center;
  justify-content: center;
}

:host([native]:not([open="true"]):focus) > #label-box {
  background-color: SelectedItem;
  color: SelectedItemText;
}

:host([native]:not([open="true"]):-moz-focusring) > #label-box {
  outline: var(--default-focusring);
}

@media (-moz-windows-default-theme) {
  #label-box[native] {
    background-color: transparent !important;
    color: inherit !important;
  }

  image[native],
  label[native] {
    margin-block: -1px !important;
  }

  dropmarker[native] {
    margin-inline: 3px -3px;
  }
}

:host(:not([native])) {
  appearance: none;
  margin: 2px 4px;
  min-height: 26px;
  padding: 4px 10px;
  border: 1px solid ThreeDShadow;
  border-radius: 4px;
  background-color: Field;
  color: FieldText;
  text-shadow: none;
}

:host(:not([native])[disabled="true"]) {
  color: GrayText;
  opacity: 0.7;
}

#label-box:not([native]) {
  align-items: center;
  justify-content: flex-start;
}

:host(:not([native]):not([open="true"]):-moz-focusring) {
  outline: var(--default-focusring);
  outline-offset: -1px;
}

dropmarker:not([native]) {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  margin-inline-start: 10px;
  content: url("chrome://global/skin/icons/arrow-down-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}