/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menulist-shared.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

label {
  /* omega: restore proper dropdown button text margin */
  margin: 0 2px;
}

:host {
  appearance: auto;
  -moz-default-appearance: menulist;
  margin: 2px 4px;
  color: FieldText;
  text-shadow: none;
}

:host([disabled="true"]) {
  background-color: -moz-Dialog;
  color: GrayText;
}

/* Label box */

#label-box {
  /* omega: restore proper dropdown button height, this was broken previously and since the dropdown
     arrow has fixed margins, that also looked broken in turn */
  margin-top: 2px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
}

:host(:not([open="true"]):focus) > #label-box {
  background-color: SelectedItem;
  color: SelectedItemText;
}

:host(:not([open="true"]):-moz-focusring) > #label-box {
  outline: var(--default-focusring);
}


@media (-moz-windows-default-theme) {
  #label-box {
    background-color: transparent !important;
    color: inherit !important;
  }

  image,
  label {
    margin-block: -1px !important;
  }

  dropmarker {
    margin-inline: 3px -3px;
  }
}