/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background: #000000 no-repeat image-set(url("chrome://branding/content/about-background.png"), url("chrome://branding/content/about-background@2x.png.png") 2x);
  color: #fff;
  color-scheme: dark;
}

#leftBox {
  background-image: none;
}

#rightBox {
  background-size: auto 50px;
  margin-inline: 30px;
  padding-top: 50px;
}

#bottomBox {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7.5px 0;
  min-height: 38px;
}

#clientBox {
  padding: 0;
}