/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menulist-shared.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


@media (-moz-pref("widget.non-native-theme.enabled")) {
label {
  margin: 0 3px;
}
}

@media not (-moz-pref("widget.non-native-theme.enabled")) {

:host {
  appearance: auto;
  -moz-default-appearance: menulist;
  margin: 5px 2px 3px;
  min-height: 20px;
  color: -moz-DialogText;
  text-shadow: none;
  padding: unset;
}

:host([disabled="true"]) {
  color: GrayText;
}

:host([disabled="true"]) > dropmarker {
  padding-inline-start: 7px !important;
}

/* Label box */

#label-box {
  appearance: auto;
  -moz-default-appearance: menulist-text;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
}

label {
  margin: 1px 3px !important;
}

/* Dropmarker */

dropmarker {
  display: none;
}

}