/* Color overrides */

@media -moz-pref("nocturne.colors", 0) {
  :root {
    --color-blue-05: #deeafc !important;
    --color-blue-30: #73a7f3 !important;
    --color-blue-50: #0060df !important;
    --color-blue-60: #0250bb !important;
    --color-blue-70: #054096 !important;
    --color-blue-80: #003070 !important;
    --color-cyan-20: #aaf2ff !important;
    --color-cyan-30: #80ebff !important;
    --color-cyan-50: #00ddff !important;
    --color-accent-primary: light-dark(var(--color-blue-50), var(--color-cyan-50)) !important;
    @media (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      --color-accent-primary: var(--color-cyan-50) !important;
    }
  }
}

@media -moz-pref("nocturne.colors", 1) {
  :root {
    --arrowpanel-border-color: light-dark(rgb(255, 60, 60), rgb(160, 60, 60)) !important;
    --toolbar-field-focus-border-color: light-dark(rgb(255, 40, 40), rgb(160, 60, 60)) !important;
    --sidebar-border-color: light-dark(rgb(255, 60, 60), rgb(160, 60, 60)) !important;
    --lwt-toolbar-field-highlight: light-dark(rgb(255, 40, 40), rgb(160, 60, 60)) !important;
    --newtab-primary-action-background: light-dark(rgb(255, 20, 20), rgb(255, 80, 80)) !important;
    --newtab-primary-action-background-hover: light-dark(rgb(255, 40, 40), rgb(255, 60, 60)) !important;
    --newtab-primary-action-background-active: light-dark(rgb(255, 40, 40), rgb(255, 40, 40)) !important;
    --color-accent-primary: light-dark(rgb(255, 20, 20), rgb(255, 60, 60)) !important;
    --color-accent-primary-hover: light-dark(rgb(255, 60, 60), rgb(255, 80, 80)) !important;
    --color-accent-primary-active: light-dark(rgb(255, 60, 60), rgb(255, 60, 60)) !important;
    --link-color: light-dark(rgb(255, 20, 20), rgb(255, 80, 80)) !important;
    --link-color-hover: light-dark(rgb(255, 20, 20), rgb(255, 80, 80)) !important;
    --link-color-active: light-dark(rgb(255, 60, 60), rgb(255, 60, 60)) !important;
    --link-color-visited: light-dark(rgb(255, 20, 20), rgb(255, 80, 80)) !important;
    --button-primary-bgcolor: light-dark(rgb(255, 20, 20), rgb(255, 100, 100)) !important;
    --button-primary-hover-bgcolor: light-dark(rgb(255, 60, 60), rgb(255, 80, 80)) !important;
    --button-primary-active-bgcolor: light-dark(rgb(255, 60, 60), rgb(255, 60, 60)) !important;
    --toolbarbutton-icon-fill-attention: light-dark(rgb(255, 20, 20), rgb(255, 80, 80)) !important;
    --download-progress-fill-color: light-dark(rgb(255, 40, 40), rgb(255, 80, 80)) !important;
    --lwt-tab-line-color: light-dark(rgb(255, 40, 40), rgb(255, 80, 80)) !important;
    @media (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      --color-accent-primary: rgb(255, 60, 60) !important;
      --color-accent-primary-hover: rgb(255, 80, 80) !important;
      --color-accent-primary-active: rgb(255, 60, 60) !important;
    }

    .urlbar-input::selection, .searchbar-textbox::selection {
      background: light-dark(rgb(255, 80, 80), rgb(160, 60, 60)) !important;
    }

    .bookmark-item:is(toolbarbutton)[dragover="true"][open="true"] {
      background: light-dark(rgb(255, 80, 80), rgb(160, 60, 60)) !important;
    }

    .tab-drop-indicator {
      background: url(chrome://browser/skin/tabbrowser/r3d-tab-drag-indicator.svg) no-repeat center !important;
    }

    #PlacesToolbarDropIndicator {
      list-style-image: url(chrome://browser/skin/r3d-toolbar-drag-indicator.svg) !important;
    }
  }

}

@media -moz-pref("nocturne.colors", 2) {
  :root {
    --arrowpanel-border-color: light-dark(rgb(255, 102, 51), rgb(183, 98, 69)) !important;
    --toolbar-field-focus-border-color: light-dark(rgb(255, 86, 30), rgb(183, 98, 69)) !important;
    --sidebar-border-color: light-dark(rgb(255, 102, 51), rgb(183, 98, 69)) !important;
    --lwt-toolbar-field-highlight: light-dark(rgb(255, 86, 30), rgb(183, 98, 69)) !important;
    --newtab-primary-action-background: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --newtab-primary-action-background-hover: light-dark(rgb(255, 86, 30), rgb(255, 102, 51)) !important;
    --newtab-primary-action-background-active: light-dark(rgb(255, 86, 30), rgb(255, 86, 30)) !important;
    --color-accent-primary: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --color-accent-primary-hover: light-dark(rgb(255, 102, 51), rgb(255, 102, 51)) !important;
    --color-accent-primary-active: light-dark(rgb(255, 102, 51), rgb(255, 102, 51)) !important;
    --link-color: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --link-color-hover: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --link-color-active: light-dark(rgb(255, 102, 51), rgb(255, 102, 51)) !important;
    --link-color-visited: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --button-primary-bgcolor: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --button-primary-hover-bgcolor: light-dark(rgb(255, 102, 51), rgb(255, 102, 51)) !important;
    --button-primary-active-bgcolor: light-dark(rgb(255, 102, 51), rgb(255, 86, 30)) !important;
    --toolbarbutton-icon-fill-attention: light-dark(rgb(255, 71, 9), rgb(255, 118, 72)) !important;
    --download-progress-fill-color: light-dark(rgb(255, 86, 30), rgb(255, 118, 72)) !important;
    --lwt-tab-line-color: light-dark(rgb(255, 86, 30), rgb(255, 118, 72)) !important;

    @media (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    --color-accent-primary: rgb(255, 102, 51) !important;
    --color-accent-primary-hover: rgb(255, 118, 72) !important;
    --color-accent-primary-active: rgb(255, 102, 51) !important;
    }

    .urlbar-input::selection, .searchbar-textbox::selection {
      background: light-dark(rgb(255, 118, 72), rgb(183, 98, 69)) !important;
    }

    .bookmark-item:is(toolbarbutton)[dragover="true"][open="true"] {
      background: light-dark(rgb(255, 118, 72), rgb(183, 98, 69)) !important;
    }

    .tab-drop-indicator {
      background: url(chrome://browser/skin/tabbrowser/esr-tab-drag-indicator.svg) no-repeat center !important;
    }

    #PlacesToolbarDropIndicator {
      list-style-image: url(chrome://browser/skin/esr-toolbar-drag-indicator.svg) !important;
    }
  }

}

@media -moz-pref("nocturne.colors", 3) {
  :root {
    --arrowpanel-border-color: light-dark(rgb(255, 60, 206), rgb(160, 60, 135)) !important;
    --toolbar-field-focus-border-color: light-dark(rgb(255, 40, 201), rgb(160, 60, 135)) !important;
    --sidebar-border-color: light-dark(rgb(255, 60, 206), rgb(160, 60, 135)) !important;
    --lwt-toolbar-field-highlight: light-dark(rgb(255, 40, 201), rgb(160, 60, 135)) !important;
    --newtab-primary-action-background: light-dark(rgb(255, 20, 196), rgb(255, 80, 211)) !important;
    --newtab-primary-action-background-hover: light-dark(rgb(255, 40, 201), rgb(255, 60, 206)) !important;
    --newtab-primary-action-background-active: light-dark(rgb(255, 40, 201), rgb(255, 40, 201)) !important;
    --color-accent-primary: light-dark(rgb(255, 20, 196), rgb(255, 60, 206)) !important;
    --color-accent-primary-hover: light-dark(rgb(255, 60, 206), rgb(255, 80, 211)) !important;
    --color-accent-primary-active: light-dark(rgb(255, 60, 206), rgb(255, 60, 206)) !important;
    --link-color: light-dark(rgb(255, 20, 196), rgb(255, 80, 211)) !important;
    --link-color-hover: light-dark(rgb(255, 20, 196), rgb(255, 80, 211)) !important;
    --link-color-active: light-dark(rgb(255, 60, 206), rgb(255, 60, 206)) !important;
    --link-color-visited: light-dark(rgb(255, 20, 196), rgb(255, 80, 211)) !important;
    --button-primary-bgcolor: light-dark(rgb(255, 20, 196), rgb(255, 100, 216)) !important;
    --button-primary-hover-bgcolor: light-dark(rgb(255, 60, 206), rgb(255, 80, 211)) !important;
    --button-primary-active-bgcolor: light-dark(rgb(255, 60, 206), rgb(255, 60, 206)) !important;
    --toolbarbutton-icon-fill-attention: light-dark(rgb(255, 20, 196), rgb(255, 80, 211)) !important;
    --download-progress-fill-color: light-dark(rgb(255, 40, 201), rgb(255, 80, 211)) !important;
    --lwt-tab-line-color: light-dark(rgb(255, 40, 201), rgb(255, 80, 211)) !important;

    @media (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      --color-accent-primary: rgb(255, 60, 206) !important;
      --color-accent-primary-hover: rgb(255, 80, 211) !important;
      --color-accent-primary-active: rgb(255, 60, 206) !important;
    }

    .urlbar-input::selection, .searchbar-textbox::selection {
      background: light-dark(rgb(255, 80, 211), rgb(160, 60, 135)) !important;
    }

    .bookmark-item:is(toolbarbutton)[dragover="true"][open="true"] {
      background: light-dark(rgb(255, 80, 211), rgb(160, 60, 135)) !important;
    }

    .tab-drop-indicator {
      background: url(chrome://browser/skin/tabbrowser/plas-tab-drag-indicator.svg) no-repeat center !important;
    }

    #PlacesToolbarDropIndicator {
      list-style-image: url(chrome://browser/skin/plas-toolbar-drag-indicator.svg) !important;
    }
  }

}

@media -moz-pref("nocturne.colors", 4) {
  :root {
    --arrowpanel-border-color: light-dark(rgb(165, 0, 255), rgb(114, 63, 140)) !important;
    --toolbar-field-focus-border-color: light-dark(rgb(165, 0, 255), rgb(114, 63, 140)) !important;
    --sidebar-border-color: light-dark(rgb(165, 0, 255), rgb(114, 63, 140)) !important;
    --lwt-toolbar-field-highlight: light-dark(rgb(165, 0, 255), rgb(114, 63, 140)) !important;
    --newtab-primary-action-background: light-dark(rgb(165, 0, 255), rgb(185, 103, 229)) !important;
    --newtab-primary-action-background-hover: light-dark(rgb(185, 103, 229), rgb(156, 87, 193)) !important;
    --newtab-primary-action-background-active: light-dark(rgb(185, 103, 229), rgb(156, 87, 193)) !important;
    --color-accent-primary: light-dark(rgb(165, 0, 255), rgb(156, 87, 193)) !important;
    --color-accent-primary-hover: light-dark(rgb(156, 87, 193), rgb(185, 103, 229)) !important;
    --color-accent-primary-active: light-dark(rgb(156, 87, 193), rgb(156, 87, 193)) !important;
    --link-color: light-dark(rgb(165, 0, 255), rgb(185, 103, 229)) !important;
    --link-color-hover: light-dark(rgb(169, 57, 229), rgb(169, 57, 229)) !important;
    --link-color-active: light-dark(rgb(185, 103, 229), rgb(165, 0, 255)) !important;
    --link-color-visited: light-dark(rgb(114, 63, 140), rgb(114, 63, 140)) !important;
    --button-primary-bgcolor: light-dark(rgb(156, 87, 193), rgb(156, 87, 193)) !important;
    --button-primary-hover-bgcolor: light-dark(rgb(185, 103, 229), rgb(185, 103, 229)) !important;
    --button-primary-active-bgcolor: light-dark(rgb(156, 87, 193), rgb(156, 87, 193)) !important;
    --toolbarbutton-icon-fill-attention: light-dark(rgb(185, 103, 229), rgb(185, 103, 229)) !important;
    --download-progress-fill-color: light-dark(rgb(165, 0, 255), rgb(185, 103, 229)) !important;
    --lwt-tab-line-color: light-dark(rgb(165, 0, 255), rgb(156, 87, 193)) !important;

    --tabpanel-background-color: light-dark(rgb(229, 227, 234), rgb(11, 10, 13)) !important;
    --lwt-sidebar-background-color: light-dark(rgba(243, 242, 245, 0.95), rgba(23, 21, 28, 0.95)) !important;

    --arrowpanel-background: light-dark(rgba(229, 227, 234, 0.95), rgba(11, 10, 13, 0.95)) !important;
    --toolbar-field-focus-background-color: light-dark(rgba(229, 227, 234, 0.95), rgba(11, 10, 13, 0.95)) !important;
    --chrome-content-separator-color: light-dark(rgb(229, 227, 234), rgb(11, 10, 13)) !important;
    @media (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      --color-accent-primary: rgb(156, 87, 193) !important;
      --color-accent-primary-hover: rgb(185, 103, 229) !important;
      --color-accent-primary-active: rgb(156, 87, 193) !important;
    }

    @media (-moz-toolbar-prefers-color-scheme: dark), (-moz-content-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      --in-content-page-background: rgb(11, 10, 13) !important;
    }

    @media not -moz-pref("nocturne.translucent.navbar") {
      @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
        --toolbar-bgcolor: rgb(23, 21, 28) !important;
        --toolbar-field-background-color: rgb(11, 10, 13) !important;
      }

      @media (-moz-toolbar-prefers-color-scheme: light), (prefers-color-scheme: light) {
        --toolbar-bgcolor: rgb(243, 242, 245) !important;
        --toolbar-field-background-color: rgb(229, 227, 234) !important;
      }
    }

    .urlbar-input::selection, .searchbar-textbox::selection {
      background: light-dark(rgb(185, 103, 229), rgb(114, 63, 140)) !important;
    }

    .bookmark-item:is(toolbarbutton)[dragover="true"][open="true"] {
      background: light-dark(rgb(185, 103, 229), rgb(114, 63, 140)) !important;
    }

    .tab-drop-indicator {
      background: url(chrome://browser/skin/tabbrowser/ecl-tab-drag-indicator.svg) no-repeat center !important;
    }

    #PlacesToolbarDropIndicator {
      list-style-image: url(chrome://browser/skin/ecl-toolbar-drag-indicator.svg) !important;
    }
  }

  #identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button, #urlbar-label-box {
    background-color: light-dark(rgb(243, 242, 245), rgb(30, 26, 39)) !important;
  }
}

/* Aero fog and other settings */

@media -moz-pref("nocturne.aero.fog", 1) {
  @media (-moz-windows-compositor), (-moz-windows-glass) {
    #navigator-toolbox:not([lwtheme]) {
      background-color: transparent !important;
    }

    #titlebar:not([lwtheme]) {
      appearance: inherit !important;
      background-image: radial-gradient(ellipse at bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.5) 40%, transparent) !important;
    }

    :root[sizemode=maximized] {
      #titlebar:not([lwtheme]) {
        margin-top: 8px !important;
      }
    }
  }

  @media (-moz-windows-classic) {
    :root[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar {
      background-image: linear-gradient(transparent, ActiveCaption) !important;
      background-size: auto 200% !important;
    }

    :root[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar:-moz-window-inactive {
      background-image: linear-gradient(transparent, InactiveCaption) !important;
    }
  }
}

@media -moz-pref("nocturne.caption.text.color", 1) {
  #TabsToolbar {
    color: white !important;
    --toolbarbutton-icon-fill: currentColor !important;
  }
  :root {
    --lwt-text-color: white !important;
  }
  #main-menubar:not([lwtheme]) {
    color: white !important;
  }
  @media (-moz-windows-glass) {
    #toolbar-menubar {
      text-shadow: 0 0 .5em black, 0 0 .5em black, 0 1px 0 rgba(0,0,0,.4) !important;
    }
  }
}

@media -moz-pref("nocturne.caption.text.color", 2) {
  #TabsToolbar {
    color: black !important;
    --toolbarbutton-icon-fill: currentColor !important;
  }
  :root {
    --lwt-text-color: black !important;
  }
  #main-menubar:not([lwtheme]) {
    color: black !important;
  }
  @media (-moz-windows-glass) {
    #toolbar-menubar {
      text-shadow: 0 0 .5em white, 0 0 .5em white, 0 1px 0 rgba(0,0,0,.4) !important;
    }
  }
}

@media -moz-pref("nocturne.transparent.menubar") {
  #main-window #main-menubar {
    background: none !important;
  }
}

@media -moz-pref("nocturne.translucent.navbar") {
  @media -moz-pref("nocturne.aero.fog", 1) {
    @media (-moz-windows-compositor) {
      #titlebar:not([lwtheme]) {
        appearance: auto !important;
      }
      #navigator-toolbox {
        background-image: radial-gradient(ellipse at bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.5) 60%, transparent) !important;
      }
      :root[sizemode=maximized] {
        #titlebar:not([lwtheme]) {
          margin-top: 0px !important;
        }
      }
    }
  }
}

/* Backgrounds needs to override all */

@media -moz-pref("nocturne.backgrounds.enabled") {
  .tabs-alltabs-button > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
    border-radius: 4px 0px 0px 4px !important;
  }

  #alltabs-button::after {
    padding: 4px 4px 4px 0px !important;

    @media (-moz-platform: windows-winxp), (-moz-windows-classic) {
      padding: 6px 5px 5px 0px !important;
    }

    border-radius: 0px 4px 4px 0px !important;
    background-clip: padding-box !important;
  }

  @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    #TabsToolbar {
      color: white !important;
      --toolbarbutton-icon-fill: currentColor !important;
    }

    :root {
      --lwt-text-color: white !important;
    }

    @media (not -moz-pref("nocturne.transparent.menubar")) {
      #main-window #main-menubar {
        background-color: rgba(23, 21, 28, 0.33) !Important;
      }

      #toolbar-menubar {
        text-shadow: none !important;
      }

      #main-menubar:not([lwtheme]) {
        color: white !important;
      }

      #main-menubar > menu {
        &[_moz-menuactive] {
          background-color: hsla(0,0%,100%,.22) !important;
        }
      }
    }

    #TabsToolbar .toolbarbutton-1 {
      > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
        background-color: rgba(23, 21, 28, 0.33);
      }
      &:hover > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
        background-color: rgba(23, 21, 28, 0.33);
        box-shadow: inset 0 0 0 99999px hsla(60,15%,38%,.22);
      }
    }

    #alltabs-button::after {
      background-color: rgba(23, 21, 28, 0.33);
    }

    .tabbrowser-tab { 
      &:not([visuallyselected]) {
        .tab-background { background-color: rgba(23, 21, 28, 0.33) !important; }
        &:hover .tab-background { background-color: rgba(23, 21, 28, 0.66) !important; }
        &[multiselected] .tab-background { background-color: rgba(23, 21, 28, 0.5) !important; }
        /*&:hover .tab-background { box-shadow: inset 0 0 0 99999px hsla(60,15%,38%,.22) !important; }
        &[multiselected] .tab-background { box-shadow: box-shadow: inset 0 0 0 99999px hsla(0,0%,38%,.11) !important; }*/
      }
    }
  }

  @media (-moz-toolbar-prefers-color-scheme: light), (prefers-color-scheme: light) {
    #TabsToolbar {
      color: black !important;
      --toolbarbutton-icon-fill: currentColor !important;
    }

    :root {
      --lwt-text-color: black !important;
    }

    @media (not -moz-pref("nocturne.transparent.menubar")) {
      #main-window #main-menubar {
        background-color: rgba(243, 242, 245, 0.33) !Important;
      }

      #toolbar-menubar {
        text-shadow: none !important;
      }

      #main-menubar:not([lwtheme]) {
        color: black !important;
      }

      #main-menubar > menu {
        &[_moz-menuactive] {
          background-color: hsla(0,0%,0%,.22) !important;
        }
      }
    }

    #TabsToolbar .toolbarbutton-1 {
      > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
        background-color: rgba(243, 242, 245, 0.33);
      }
      &:hover > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
        background-color: rgba(243, 242, 245, 0.33);
        box-shadow: inset 0 0 0 99999px hsla(60,60%,92%,.24);
      }
    }

    #alltabs-button::after {
      background-color: rgba(243, 242, 245, 0.33);
    }

    .tabbrowser-tab { 
      &:not([visuallyselected]) {
        .tab-background { background-color: rgba(243, 242, 245, 0.33) !important; }
        &:hover .tab-background { background-color: rgba(243, 242, 245, 0.66) !important; }
        &[multiselected] .tab-background { background-color: rgba(243, 242, 245, 0.5) !important; }
        /*&:hover .tab-background { box-shadow: inset 0 0 0 99999px hsla(60,60%,92%,.24) !important; }
        &[multiselected] .tab-background { box-shadow: inset 0 0 0 99999px hsla(0,0%,100%,.48) !important; }*/
      }
    }
  }
}
